#pre-loader {
  background: #f8ede3 url("./../Images/solar.gif") no-repeat center center;
  background-size: 30%;
  height: 100vh;
  width: 100%;
  z-index: 100;
  position: fixed;
}

.myCSS {
  height: 100%;
}

.glass {
  /* From https://css.glass */
  backdrop-filter: blur(3px) saturate(180%);
  -webkit-backdrop-filter: blur(3px) saturate(180%);
  background-color: rgba(192, 183, 183, 0.26);
  border-radius: 12px;
  /* border: 1px solid rgba(209, 213, 219, 0.3); */
}

@media (min-height: 600px) {
  .myCSS {
    height: 100%;
  }
}
@media (min-height: 601px) and (max-height: 700px) {
  .myCSS {
    height: 80%;
  }
}
